.margen {
    background-color: blanchedalmond;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: black;
    opacity: 85%;
}

p {
    width: 100px;
    font-size: 10rem;
    margin-left: 30px;
    color: #b70beb;
}