body
  background-image: url(../img/back.jpg)

main
  border: solid black
  margin-top: 10px
  background-color: white

#cabesa
  margin-top: 10px
  background-image: url('../img/nathria.jpg')
  background-position: center
  background-size: 100%

#imgarticle
  height: 300px
  width: 60%
  margin-left: 100px

#doc p, h1, h2, h3
  margin-left: 30px

footer
  background-color: rgb(32, 29, 29)
  margin-top: 20px

  > *
    color: white
    text-align: center

  ul .facebook
    text-align: center
    width: 50px

.spotify, .twitter, .youtube
  text-align: center
  width: 50px

ul li
  display: inline-flex

a > img
  height: 30px
  width: 30px

@media (min-width: 900px)
  #inicio
    width: 60%
    margin-left: 400px